<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.typekit.net/jdx8jgw.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  </head>

  <body class="bg-gray-100">
    <header class="max-w-screen-md p-3 mx-auto text-center">
      <div class="transform -rotate-3 w-auto inline-block bg-orange-500 shadow rounded-sm my-4">
        <a class="text-gray-800 text-4xl font-bold px-4 py-2 text-white transform rotate-3 inline-block underline"
           href="#"
        >{{ site.title }}</a>
      </div>
      <br>
      <span class="text-lg text-gray-800 font-thin">{{ site.description }}</span>
    </header>
    <div class="w-full py-4 mb-8 border-dashed border-gray-500 border-t-2 border-b-2">
      <nav class="max-w-screen-md px-4 text-lg text-center mx-auto">
        <a href="#" class="pr-6 font-semibold uppercase">Articles</a>
        <a href="#" class="font-semibold uppercase">About</a>
      </nav>
    </div>
